<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Site Metas -->
    <title>HoHo's Tavern</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block head %}
    <!-- Site Icons -->
    <!-- <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png"> -->
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/64/925/925801.png">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css"> -->
	<!-- Site CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Pickadate CSS -->
    <link rel="stylesheet" href="/static/css/classic.css">
	<link rel="stylesheet" href="/static/css/classic.date.css">
	<link rel="stylesheet" href="/static/css/classic.time.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}

</head>
<body>
    {% block navbar %}
        {% include 'includes/_navbar.html' %}
    {% endblock %}

    <!-- Start header -->
    {% block content %}
    {% endblock %}
    <!-- End header -->

    {% block scripts %}
    <!-- ALL JS FILES -->
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script> -->
    <!-- ALL PLUGINS -->
	<script src="/static/js/jquery.superslides.min.js"></script>
	<script src="/static/js/images-loded.min.js"></script>
	<script src="/static/js/isotope.min.js"></script>
	<script src="/static/js/baguetteBox.min.js"></script>
    <script src="/static/js/picker.js"></script>
	<script src="/static/js/picker.date.js"></script>
	<script src="/static/js/picker.time.js"></script>
	<script src="/static/js/legacy.js"></script>
    <script src="/static/js/custom.js"></script>
    {% endblock %}


</body>
</html>
