{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %} HoHo's Hotel - Home {% endblock %}

{% block content %}

    <!-- Start slides -->
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			<li class="text-center">
				<img src="static/images/slider-01.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> HoHo's Hotel</strong></h1>
							<p class="m-b-40">Click on the button below to book a hotel reservation.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/createReserve">Reservation</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="static/images/slider-02.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> HoHo's Hotel</strong></h1>
							<p class="m-b-40">Click on the button below to book a hotel reservation.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/createReserve">Reservation</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="static/images/slider-03.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> HoHo's Hotel</strong></h1>
							<p class="m-b-40">Click on the button below to book a hotel reservation.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/createReserve">Reservation</a></p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- End slides -->

    <!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="static/images/about-img.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1>Welcome To <span>HoHo's Hotel</span></h1>
						<h4>Little Story</h4>
						<p>The founder of HoHo's Hotel is a 30-year-old named Hovan, who dreamed of opening his own hotel/restaurant business. He founded HoHo's Hotel on March 2023 which was a great accomplishment of his. He started having this dream back when he was 20 years old. To achieve this dream, he studied overseas at China to learn business management for 10 years. </p>
						<p>After coming back to Singapore, he used his money that he saved up from doing part-time jobs during his time of studying to open this hotel.</p>
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="/createReserve">Reservation</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->

    <!-- Start QT -->
	<div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-left">
					<p class="lead ">
						" If you're not rich, stay out of my hotel."
					</p>
					<span class="lead">Hovan</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->

	<!-- Start Gallery -->
	<div class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Gallery</h2>
						<p>Pictures of a few of HoHo's Hotel's rooms and signature dishes.</p>
					</div>
				</div>
			</div>
			<div class="tz-gallery">
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" href="static/images/gallery-img-01.jpg">
							<img class="img-fluid" src="static/images/gallery-img-01.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="static/images/gallery-img-02.jpg">
							<img class="img-fluid" src="static/images/gallery-img-02.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="static/images/gallery-img-03.jpg">
							<img class="img-fluid" src="static/images/gallery-img-03.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" href="static/images/gallery-img-04.jpg">
							<img class="img-fluid" src="static/images/gallery-img-04.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="static/images/gallery-img-05.jpg">
							<img class="img-fluid" src="static/images/gallery-img-05.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="static/images/gallery-img-06.jpg">
							<img class="img-fluid" src="static/images/gallery-img-06.jpg" alt="Gallery Images">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Gallery -->

    <!-- Start Customer Reviews -->
	<div class="customer-reviews-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Customer Reviews</h2>
						<p>Reviews from some of our satisfied customers</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mr-auto ml-auto text-center">
					<div id="reviews" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner mt-4">
							<div class="carousel-item text-center active">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="static/images/profile-1.jpg" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Logan Paul </strong></h5>
								<h6 class="text-dark m-0">Business Analyst</h6>
								<p class="m-0 pt-3">Had a room with my girlfriend. Room was perfect and was not disturbed during the whole duration. Will be back definitely!</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="static/images/profile-3.jpg" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Minecraft Steve</strong></h5>
								<h6 class="text-dark m-0">Minecraft</h6>
								<p class="m-0 pt-3">The restaurant's food was so fresh. Properly prepared and a great value for the price. Great room service too! Highly recommend it for everyone to visit.</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="static/images/profile-7.jpg" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Daniel Cigar</strong></h5>
								<h6 class="text-dark m-0">Smoker</h6>
								<p class="m-0 pt-3">The food was an absolute wonder, even though I'm a smoker, it was very yummy. Ambience was lovely too. Smoking was allowed in the rooms which was a huge plus! </p>
							</div>
						</div>
						<a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
							<i class="fa fa-angle-left" aria-hidden="true"></i>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span class="sr-only">Next</span>
						</a>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Customer Reviews -->

    <!-- Start Contact info -->
	<div class="contact-info-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+65 8812 6296
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							info@Hoho_hotel.py
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							50 Horn Road #02-10, Singapore 888888
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->

    <!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>About Us</h3>
					<p>The founder of HoHo's Hotel is a 30-year-old named Hovan, who dreamed of opening his own hotel/restaurant business. He founded HoHo's Hotel on March 2023 which was a great accomplishment of his. He started having this dream back when he was 20 years old. To achieve this dream, he studied overseas at China to learn business management for 10 years. </p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Restaurant Opening hours</h3>
					<p><span class="text-color">Monday: </span>  9AM - 10PM</p>
					<p><span class="text-color">Tue-Wed :</span> 9AM - 10PM</p>
					<p><span class="text-color">Thu-Fri :</span> 9AM - 10PM</p>
					<p><span class="text-color">Sat-Sun :</span> 5PM - 10PM</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Contact information</h3>
					<p class="lead">50 Horn Road #02-10, Singapore 888888</p>
					<p class="lead"><a href="#">+65 8812 6296</a></p>
					<p><a href="#">info@Hoho_hotel.py</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Subscribe</h3>
					<div class="subscribe_form">
						<form class="subscribe_form">
							<input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
							<button type="submit" class="submit">SUBSCRIBE</button>
							<div class="clearfix"></div>
						</form>
					</div>

				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2022 <a href="#">HoHo's Hotel</a></p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

{% endblock %}
