{% extends "base.html" %}
{% block title %} HoHo's Tavern - Profile {% endblock %}

{% block content %}

<style>
	.userProfile {
		font-size: 1.5em;
	}

	.btn.btn-danger {
		color: #dc3545;
		background-color: transparent;
		background-image: none;
		border-color: #dc3545;
	}

	.btn.btn-danger:hover {
		color: #ffffff;
		background-color: #dc3545;
		border-color: #dc3545;
</style>

<br>
<br>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
	<span>{{ message }}</span>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- Start Reservation Details -->
<div class="reservation-box">
	<div class="col-lg-12">
		<div class="heading-title text-center">
			<h2>Profile</h2>
		</div>
	</div>

	<div class="reservation-box">
		<div class="container">
			<div class="text-center">
				<h1>Hi There! {{ profile.get_first_name() }}</h1>
			</div>
			<div class="userProfile" style="border-style:ridge;border-color:#cfa671;">
				<div class="col-md-6">
					<div class="col-md-12" style="float:none;margin:auto;">
						<p>Title: {{ profile.get_title() }}</p>
						<p>First name: {{ profile.get_first_name() }}</p>
						<p>Last name: {{ profile.get_last_name() }}</p>
						<p>Gender: {{ profile.get_gender() }}</p>
						<p>Email: {{ profile.get_email() }}</p>
						<p>2FA: {{ profile.get_multifactorauth() }}</p>
					</div>
				</div>

				<div class="col-md-12">
					<div class="submit-button text-center">
						<a style="display:inline-block;" href="/updateU/{{profile.get_id()}}"
							class="btn btn-common">Update</a>
						<a style="display:inline-block;">
							<!-- <button style="display:inline-block;" type="button" class="btn btn-danger"
								data-toggle="modal" data-target="#myModal_{{profile.get_id()}}">
								Delete
							</button> -->
							<button type="button" class="btn btn-danger" data-toggle="modal"
								data-target="#deleteAccountModal">Delete Account</button>
							{% if multifactor == "disabled"%}
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#qrCodeModal"
								id="show-qr-code-button">Enable 2FA</button>
							{% else %}
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#disable2faModal"
								id="show-qr-code-button">Disable 2FA</button>
							{% endif %}
							<form action="{{url_for('delete_user', id=profile.get_id())}}" method="POST">
								<!-- The Modal -->
								<div class="modal" id="myModal_{{profile.get_id()}}">
									<div class="modal-dialog">
										<div class="modal-content">

											<!-- Modal Header -->
											<div class="modal-header">
												<h4 class="modal-title">Delete Confirmation</h4>
												<button type="button" class="close"
													data-dismiss="modal">&times;</button>
											</div>

											<!-- Modal body -->
											<div class="modal-body">
												Are you sure you want to delete {{profile.get_first_name()}}
												{{profile.get_last_name()}}?
											</div>

											<!-- Modal footer -->
											<div class="modal-footer">
												<input type="submit" value="Delete" class="btn btn-danger">
												<button type="button" class="btn btn-common"
													data-dismiss="modal">Cancel</button>
											</div>

										</div>
									</div>
								</div>
							</form>
						</a>
						<div id="msgSubmit" class="h3 text-center hidden"></div>
						<div class="clearfix"></div>

						<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog"
							aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form method="POST" action="{{ url_for('delete_account') }}">
											<div class="form-group">
												<label for="password">Enter your password to confirm deletion:</label>
												<input type="password" class="form-control" id="password"
													name="password">
											</div>
											<button type="submit" class="btn btn-danger">Delete Account</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog"
							aria-labelledby="qrCodeModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="qrCodeModalLabel">Two-Factor Authentication</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form method="POST" action="{{ url_for('submit_password') }}">
											<div class="form-group">
												<label for="password">Enter your password to confirm:</label>
												<input type="password" class="form-control" id="password"
													name="password">
											</div>
											<button type="submit" class="btn btn-primary">Submit</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog"
							aria-labelledby="qrCodeModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="qrCodeModalLabel">Two-Factor Authentication</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form method="POST" action="{{ url_for('submit_password') }}">
											<div class="form-group">
												<label for="password">Enter your password to confirm:</label>
												<input type="password" class="form-control" id="password"
													name="password">
											</div>
											<button type="submit" class="btn btn-primary">Submit</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="modal fade" id="disable2faModal" tabindex="-1" role="dialog"
							aria-labelledby="disable2faLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="disable2faLabel">Disabling Two-Factor Authentication</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form method="POST" action="{{ url_for('disable2fa') }}">
											<div class="form-group">
												<label for="password">Enter your password to confirm:</label>
												<input type="password" class="form-control" id="password"
													name="password">
											</div>
											<button type="submit" class="btn btn-primary">Submit</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Profile Details -->

<!-- Start Footer -->
<footer class="footer-area bg-f">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<h3>About Us</h3>
				<p>The founder of HoHo's Tavern is a 30-year-old named Hovan, who dreamed of opening his own tavern
					business. He founded HoHo's Tavern on March 2023 which was a great accomplishment of his. He started
					having this dream back when he was 20 years old. To achieve this dream, he studied overseas at China
					to learn business management for 10 years. </p>
			</div>
			<div class="col-lg-3 col-md-6">
				<h3>Tavern Opening hours</h3>
				<p><span class="text-color">Monday: </span>9AM - 10PM</p>
				<p><span class="text-color">Tue-Wed :</span> 9AM - 10PM</p>
				<p><span class="text-color">Thu-Fri :</span> 9AM - 10PM</p>
				<p><span class="text-color">Sat-Sun :</span> 5PM - 10PM</p>
			</div>
			<div class="col-lg-3 col-md-6">
				<h3>Contact information</h3>
				<p class="lead">50 Horn Road #02-10, Singapore 888888</p>
				<p class="lead"><a href="#">+65 8812 6296</a></p>
				<p><a href="#">info@Hoho_Tavern.py</a></p>
			</div>
			<div class="col-lg-3 col-md-6">
				<h3>Subscribe</h3>
				<div class="subscribe_form">
					<form class="subscribe_form">
						<input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..."
							type="email">
						<button type="submit" class="submit">SUBSCRIBE</button>
						<div class="clearfix"></div>
					</form>
				</div>
				<ul class="list-inline f-social">
					<li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
					</li>
					<li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="company-name">All Rights Reserved. &copy; 2022 <a href="#">HoHo's Tavern</a>
					</p>
				</div>
			</div>
		</div>
	</div>

</footer>
<!-- End Footer -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
<script>
	$(document).ready(function () {
		$('form').on('submit', function (event) {
			event.preventDefault();

			// send form data to the server
			// handle the response and check if the password is correct
			$.post("/submit_password", $("form").serialize(), function (response) {
				if (response.password_correct) {
					// if the password is correct, show the modal
					$("#show-qr-code-button").click();
				} else {
					// if the password is incorrect, show an error message
					alert("Incorrect password, please try again.");
				}
			});
		});
	});
</script>

{% endblock %}