{% extends "base.html" %}
{% block title %}HoHo's Tavern - Create User{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

# password script
<style>
#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 200%;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
<br>
<br>
<br>
<!-- Start Regi -->
	<div class="reservation-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Registration</h2>
						<p>Where memory comes alive through drinks and food</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="contact-block">
						<form method="POST" id="contactForm">
							<div class="row">
								<div class="col-md-6">

									<div class="col-md-12">
										<div class="form-group">
											{{ render_field(form.first_name, class="form-control") }}
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											{{ render_field(form.last_name, class="form-control") }}
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											{{ render_field(form.title, class="form-control") }}
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											{{ render_field(form.username, class="form-control") }}
										</div>
									</div>
								</div>
								<div class="col-md-6">

									<div class="col-md-12">
										<div class="form-group">
											{{ render_field(form.gender, class="form-control") }}
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											{{ render_field(form.email, class="form-control") }}
											<p style="color: #dc3545;">{{ error }}</p>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											{{ render_field(form.password, class="form-control") }}
										<div class="col-md-12">
										<div class="form-group">
											<div id="tooltip">?
												 <span class="tooltiptext">length should be 8 to 20 <br>
													                       at least one numeral <br>
													                       at least one uppercase and one lowercase letter <br>
													 					   at least one of the symbols $@#%&!
												 </span>
											</div>
										</div>
									</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											{{ render_field(form.confirm_password, class="form-control") }}
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="submit-button text-center">
										<button class="btn btn-common" id="submit" type="submit">Submit</button>
										<div id="msgSubmit" class="h3 text-center hidden"></div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--</div>-->

<!-- End Regi -->

<!-- Start Contact info -->
	<div class="contact-info-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+65 8812 6296
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							info@Hoho_Tavern.py
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							50 Horn Road #02-10, Singapore 888888
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->

	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>About Us</h3>
					<p>The founder of HoHo's Tavern is a 30-year-old named Hovan, who dreamed of opening his own tavern business. He founded HoHo's Tavern on March 2023 which was a great accomplishment of his. He started having this dream back when he was 20 years old. To achieve this dream, he studied overseas at China to learn business management for 10 years.</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Tavern Opening hours</h3>
					<p><span class="text-color">Monday: </span>9AM- 10PM</p>
					<p><span class="text-color">Tue-Wed :</span> 9AM - 10PM</p>
					<p><span class="text-color">Thu-Fri :</span> 9AM - 10PM</p>
					<p><span class="text-color">Sat-Sun :</span> 5PM - 10PM</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Contact information</h3>
					<p class="lead">50 Horn Road #02-10, Singapore 888888</p>
					<p class="lead"><a href="#">+65 8812 6296</a></p>
					<p><a href="#">info@Hoho_Tavern.py</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Subscribe</h3>
					<div class="subscribe_form">
						<form class="subscribe_form">
							<input name="EMAIL1" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
							<button type="submit" class="submit">SUBSCRIBE</button>
							<div class="clearfix"></div>
						</form>
					</div>
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2022 <a href="#">HoHo's Tavern</a></p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

{% endblock %}
