{% extends "base.html" %}
{% block title %}HoHo's Hotel - Retrieve Users{% endblock %}
{% set active_page = "user" %}

{% block content %}
<style>
  .btn.btn-danger{
	color: #dc3545;
	background-color: transparent;
	background-image: none;
	border-color: #dc3545;
}
.btn.btn-danger:hover{
	color: #ffffff;
	background-color: #dc3545;
	border-color: #dc3545;

}
</style>
<br>
<br>
<br>
<!-- Start Retrieving -->

<div class="reservation-box">
	<div class="row">
		<div class="col-lg-12">
			<div class="heading-title text-center">
			<h2>Retrieve Users</h2>
				<div>
				  {% if count == 0 %}
				  <p>There are no users.</p>
				  {% elif count == 1 %}
				  <p>There is 1 user.</p>
				  {% else %}
				  <p>There are {{ count }} users.</p>
				  {% endif %}
				</div>
			</div>
		</div>
	</div>
</div>



<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Title</th>
        <th>Gender</th>
		<th>Email</th>
		<th>Type</th>
        <th>Password</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users_list %}
      <tr>
        <td>{{ user.get_user_id() }}</td>
        <td>{{ user.get_first_name() }}</td>
        <td>{{ user.get_last_name() }}</td>
        <td>{{ user.get_title() }}</td>
		<td>{{ user.get_gender() }}</td>
		<td>{{ user.get_emails() }}</td>
		<td>{{ user.get_type()}}</td>
		<td>Password: {{ user.get_password()}}</td>

        <td><a href="/updateU/{{user.get_user_id()}}" class="btn btn-common">Update</a></td>
        <td>
          <form action="{{url_for('delete_user', id=user.get_user_id())}}" method="POST">
<!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{user.get_first_name()}} {{user.get_last_name()}}?');">-->
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{user.get_user_id()}}">
              Delete
            </button>

			<!-- The Modal -->
            <div class="modal" id="myModal_{{user.get_user_id()}}">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Are you sure you want to delete {{user.get_first_name()}} {{user.get_last_name()}}?
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    <button type="button" class="btn btn-common" data-dismiss="modal">Cancel</button>
                  </div>

                </div>
              </div>
            </div>
		  </form>
        </td>
      </tr>
    </tbody>

    {% endfor %}

  </table>
</div>

	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>About Us</h3>
					<p>The founder of HoHo's Hotel is a 30-year-old named Hovan, who dreamed of opening his own hotel/restaurant business. He founded HoHo's Hotel on March 2023 which was a great accomplishment of his. He started having this dream back when he was 20 years old. To achieve this dream, he studied overseas at China to learn business management for 10 years. </p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Restaurant Opening hours</h3>
					<p><span class="text-color">Monday: </span>9AM - 10PM</p>
					<p><span class="text-color">Tue-Wed :</span> 9AM - 10PM</p>
					<p><span class="text-color">Thu-Fri :</span> 9AM - 10PM</p>
					<p><span class="text-color">Sat-Sun :</span> 5PM - 10PM</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Contact information</h3>
					<p class="lead">50 Horn Road #02-10, Singapore 888888</p>
					<p class="lead"><a href="#">+65 8812 6296</a></p>
					<p><a href="#">info@Hoho_hotel.py</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Subscribe</h3>
					<div class="subscribe_form">
						<form class="subscribe_form">
							<input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
							<button type="submit" class="submit">SUBSCRIBE</button>
							<div class="clearfix"></div>
						</form>
					</div>
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2022 <a href="#">HoHo's Hotel</a></p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
{% endblock %}
<!-- End Retrieving -->
