<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>Document</title>

  </head>

  <body>

    <div class="wrap">

    <h1><a href="/">Search App</a></h1>

      <form method="post">

        <input type="text" name="query" id="query" />

        <input type="submit" value="Search" />

      </form>

      {% if query %}

      <p style="padding: 5px 0">Results for {{ query }}:</p>

      {% endif %}

      {% for po in data %}

      <div class="article">

        <h2>{{ po.title }}</h2>

        <p>{{ po.content }}</p>

      </div>

      {% endfor %}

    </div>

  </body>

</html>