{% extends "base.html" %}
{% block title %} HoHo's Hotel - Reservation {% endblock %}
{% set active_page = "uReserve" %}

{% block content %}

<style>
	.userReserve {
		font-size: 1.5em;
	}

	.btn.btn-danger{
	color: #dc3545;
	background-color: transparent;
	background-image: none;
	border-color: #dc3545;
}
.btn.btn-danger:hover{
	color: #ffffff;
	background-color: #dc3545;
	border-color: #dc3545;
</style>

<br>
<br>
<br>

<!-- Start Reservation Details -->
<div class="reservation-box">
	<div class="col-lg-12">
		<div class="heading-title text-center">
			<h2>Reservation details</h2>
			<p>View your booking details!</p>
			<p style="color: #dc3545;">{{error}}</p>
			<form method="post">
				<input type="text" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32 || (event.charCode >= 48 && event.charCode <= 57));" name="searchReserve" id="searchReserve" maxlength="10" />
				<input type="submit" class="btn btn-common" value="Search" />

		  	</form>
		</div>
		{% if searchReserve %}
	<h3>Results for '{{searchReserve}}': </h3>
	{% endif %}
	</div>


{% for reserve in reserve_user_list %}
<div class="reservation-box">
	<div class="container">
		<h3>Booking ID: {{ reserve.get_user_id() }}</h3>
		<div class="userReserve row" style="border-style:ridge;border-color:#cfa671;">
			<div class="col-md-6">
				<div class="col-md-6" style="float:none;margin:auto;">
					<p>Date: {{ reserve.get_date() }}</p>
					<p>Time: {{ reserve.get_time() }}</p>
					<p>Party Size: {{ reserve.get_party_size() }}</p>
				</div>
			</div>
			<div class="col-md-6" style="float:none;margin:auto;">
				<p>Name: {{ name_list[reserve.get_user_id()] }}</p>
				<p>Email: {{ email_list[reserve.get_user_id()] }}</p>
				<p>Number: {{ number_list[reserve.get_user_id()] }}</p>
			</div>
			<div class="col-md-12">
				<div class="submit-button text-center">
					<a style="display:inline-block;" href="/updateReserve/{{reserve.get_user_id()}}" class="btn btn-common">Update</a>
					<a style="display:inline-block;">
					<form action="{{url_for('deleteReserve', id=reserve.get_user_id())}}" method="POST">

			<button style="display:inline-block;" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{reserve.get_user_id()}}">
              Delete
            </button>
			<!-- The Modal -->
            <div class="modal" id="myModal_{{reserve.get_user_id()}}">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Are you sure you want to delete Booking ID #{{reserve.get_user_id()}}?
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    <button type="button" class="btn btn-common" data-dismiss="modal">Cancel</button>
                  </div>

                </div>
              </div>
            </div>
					</form>
					</a>
					<div id="msgSubmit" class="h3 text-center hidden"></div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- End Reservation Details -->
{% endfor %}



	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>About Us</h3>
					<p>The founder of HoHo's Hotel is a 30-year-old named Hovan, who dreamed of opening his own hotel/restaurant business. He founded HoHo's Hotel on March 2023 which was a great accomplishment of his. He started having this dream back when he was 20 years old. To achieve this dream, he studied overseas at China to learn business management for 10 years. </p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Restaurant Opening hours</h3>
					<p><span class="text-color">Monday: </span>  9AM - 10PM</p>
					<p><span class="text-color">Tue-Wed :</span> 9AM - 10PM</p>
					<p><span class="text-color">Thu-Fri :</span> 9AM - 10PM</p>
					<p><span class="text-color">Sat-Sun :</span> 5PM - 10PM</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Contact information</h3>
					<p class="lead">50 Horn Road #02-10, Singapore 888888</p>
					<p class="lead"><a href="#">+65 8812 6296</a></p>
					<p><a href="#">info@Hoho_hotel.py</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Subscribe</h3>
					<div class="subscribe_form">
						<form class="subscribe_form">
							<input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
							<button type="submit" class="submit">SUBSCRIBE</button>
							<div class="clearfix"></div>
						</form>
					</div>

				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2022 <a href="#">HoHo's Hotel</a></p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>


{% endblock %}
