{% extends "base.html" %}
{% block title %} HoHo's Hotel - Validate OTP {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
{% endwith %}

<br>
<br>
<br>
<div class="reservation-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Validate OTP</h2>
                    <p>Two-factor Authentication</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-block">
                    <!-- <form method="POST" action="{{ url_for('verify') }}">
                        <label for="code">Enter OTP code:</label>
                        <input type="text" id="code" name="code">
                        <input type="submit" value="Verify">
                    </form>                     -->
                    <form method="POST" action="{{ url_for('verify2fa') }}">
                        <div class="form-group">
                            <div class="col-md-6" style="float:none;margin:auto;">
                                <div class="form-group text-center">
                                    <input type="text" class="form-control" name="code" id="code"
                                        placeholder="Enter the OTP code here" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="submit-button text-center">
                                <p style="color: #dc3545;">{{ error }}</p>
                                <button type="submit" class="btn btn-common" value="verify">Validate OTP</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}